---
import GoogleAnalytics from '../utils/analytics/GoogleAnalytics.astro'
interface Props {
	title: string
	description: string
	keywords: string
	author: string
}
const { title, description, keywords, author } = Astro.props
---

<head>
	{import.meta.env.PROD && <GoogleAnalytics />}
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/brand-icon-white.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content={Astro.generator} />
	{description && <meta name="description" content={description} />}
	{keywords && <meta name="keywords" content={keywords} />}
	{author && <meta name="author" content={author} />}
	<meta name="robots" content="index, follow" />
	<title>{title}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
		rel="stylesheet"
	/>

	<link rel="stylesheet" href="src/styles/global.css" />

	<!-- Open Graph Meta Tags (for social sharing) -->
	<meta property="og:title" content="Anil Rai - Developer | Designer | Programmer" />
	<meta
		property="og:description"
		content="Anil Rai is a Developer, Designer, and Programmer specializing in web and mobile app development and design. Explore his portfolio and insightful blog posts."
	/>
</head>
